<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ecut.mapper.LoginMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ecut.model.LoginDO">
        <id column="usernumber" property="usernumber" />
        <result column="password" property="password" />
        <result column="username" property="username" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        usernumber, password, username
    </sql>
    <insert id="registered">
        insert into login(usernumber,password,username) values (#{login.usernumber},#{login.password},#{login.username})
    </insert>
    <select id="info" resultType="com.ecut.model.LoginDO">
        select * from login where usernumber = #{usernumber}
    </select>


</mapper>
